.hero-box{
  background-color: rgb(147, 147, 115);
  width: 100vw;
  height: 99vw;
  text-align: center;
  line-height: 100vh;
}
#width{
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
}

#height{
  width: 200px;
  height: 100px;
  border: 2px solid blue;
  text-align: justify;
}


