#box1{
  background-color: red;
  /* margin-right: 50px; */
}

#box2{
  background-color: green;
  /* margin-bottom: 44px;
  margin-top: 44px; */

  /*margin-top,right,bottom,left*/

  /* margin: 20px 20px 20px 20px; */

  margin: 33px 33px;
}

#box3{
  background-color: blue;
margin: 44px;
}