#box1{
  background-color: red;
  margin-right: 50px;
  padding-top: 22px;
  padding-bottom: 33px;
  padding-left: 32px;
  padding-right: 55px;
}

#box2{
  background-color: green;
  /* margin-bottom: 44px;
  margin-top: 44px; */
  padding: 44px 44px;

  /*margin-top,right,bottom,left*/

  margin: 20px 20px 20px 20px;
}

#box3{
  background-color: blue;
  margin-left: 50px;
  padding: 88px;
}