#block1{
  background-color: green;
  padding-top: 33px;
  padding-bottom: 55px;
  margin-bottom: 22px;
}
#block2{
 background-color: blue;
 padding-right: 22px;
 padding-left: 22px;
 margin: 33px;
}

#block3{
  background-color: grey;
  padding: 33px ;
}