body{
  background-color: rgb(40, 40, 134);
  font-style: italic;
}

#quote1{
  background-color: gray;
  border: 4px solid yellow;
  text-align: center;
}

#quote2{
  background-color: white;
  border: 5px dashed black;
  text-align: right;
}

#quote3{
  background-color: black;
  border: 6px dotted goldenrod;
  color: white;
  text-align: left;
  
}

#quote4 {
  background-color: yellow;
  border: 7px double white;
  text-align: justify;
}

.quote{
  margin: 22px 22px;
  padding: 22px 22px;
}