p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h{
  font-size: 22px;
  font-weight: 700;
  text-align: justify;
  line-height: 1.2;
}

samp{
  font-style: italic;
  font-size: 66px;
  text-decoration: line-through;
}