.container{
  display: grid;
  /* grid-template-columns: 2fr 2fr 2fr; */
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 100px  100px  100px;
  gap: 6px;
  /* row-gap: 11px;
  column-gap: 11px; */
}

.item{
  background-color: blue;
  padding: 20px;
  margin: 10px;
}