.boxes{
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  align-content: center;
}

.box{
  background-color: blue;
  padding: 50px;
  margin: 20px;
}