.flex-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;   /*waxa u isku kenaa dhaxda itemla*/
  padding: 10px 2opx;
  background-color: #333;
}

.nav-links{
  display: flex;
  list-style: none; /*..dod dod li ku jira ka bixi*/
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.logo-container{
  color: white;
}

.action-container button{
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
cursor: pointer;  /*cadeey in click lasirabo*/
}

.action-container button:hover{   /* marka ladulgeeyo ismuujinaa*/
  background-color: #0056b3;
}

.hero{
  height: 80vh;
  display: flex;
  flex-direction: column;      /* hasidol istaagaan weye*/
  justify-content: center;    /*dhaxa bu imaana item*/
  align-items: center;
}