.Fixed-navbar{
  position: fixed;
  top: 0;
  background-color:  #333;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.Fixed-navbar a {
  text-decoration: none; /*ka saar kxariiqada hose*/
  color: white;
  padding: 10px 20px;
}


.profile-card{
 background-color: black;
 width: 100%;
 padding: 10px 0;
 text-align: center;
 position: fixed;
 bottom: 0;
}

.fixed{
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}