.feature-section{
  width: 500px;
  text-align: center;
  background-image: url('https://media.istockphoto.com/id/2159756622/photo/african-it-developer-concentrating-codding-program-on-laptop-screen-tastemaker.jpg?s=1024x1024&w=is&k=20&c=WxEWNAxUVI04AqwaFDZkbWjwGwmgm-eF2B2mZWyK3ys=');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 22px;
  margin: 22px;
  border-radius: 22px;
}

.feature-section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid red;
}

p{
  color: white;
}